@import url('https://fonts.cdnfonts.com/css/ghibli');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ghibli', sans-serif;
                                                
}